In [31]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression  
from sklearn.model_selection import train_test_split 
from sklearn.metrics import mean_squared_error

In [32]:
data=pd.read_csv("EOD-APPL.csv")

In [33]:
data

,Date,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
0,2017-12-28,171.00,171.850,170.480,171.080,16480187.0,0.0,1.0,41.136972,41.341454,41.011877,41.156217,65920748.0
1,2017-12-27,170.10,170.780,169.710,170.600,21498213.0,0.0,1.0,40.920461,41.084047,40.826640,41.040745,85992852.0
2,2017-12-26,170.80,171.470,169.679,170.570,33185536.0,0.0,1.0,41.088858,41.250038,40.819183,41.033528,132742144.0
3,2017-12-22,174.68,175.424,174.500,175.010,16349444.0,0.0,1.0,42.022259,42.201241,41.978957,42.101646,65397776.0
4,2017-12-21,174.17,176.020,174.100,175.010,20949896.0,0.0,1.0,41.899570,42.344619,41.882730,42.101646,83799584.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085,2013-09-09,505.00,507.920,503.480,506.170,12167400.0,0.0,1.0,15.996600,16.089095,15.948451,16.033661,340687200.0
1086,2013-09-06,498.44,499.380,489.950,498.220,12840200.0,0.0,1.0,15.788802,15.818578,15.519869,15.781833,359525600.0
1087,2013-09-05,500.25,500.680,493.640,495.270,8441700.0,0.0,1.0,15.846136,15.859757,15.636755,15.688388,236367600.0
1088,2013-09-04,499.56,502.240,496.280,498.691,12322600.0,0.0,1.0,15.824280,15.909173,15.720381,15.796753,345032800.0
1089,2013-09-03,493.10,500.600,487.350,488.580,11854600.0,0.0,1.0,15.619650,15.857223,15.437510,15.476472,331928800.0

In [20]:
data.dtypes

Open          float64
High          float64
Low           float64
Close         float64
Volume        float64
Dividend      float64
Split         float64
Adj_Open      float64
Adj_High      float64
Adj_Low       float64
Adj_Close     float64
Adj_Volume    float64
dtype: object

In [21]:
data.describe()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
count,1090.000000,1090.000000,1090.000000,1090.000000,1.090000e+03,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1.090000e+03
mean,194.564537,196.114735,193.016676,194.613130,3.605114e+07,0.015642,1.005505,26.367551,26.578236,26.152043,26.373196,1.931334e+08
std,160.562848,161.812898,159.407381,160.647536,2.194473e+07,0.175122,0.181735,6.614490,6.640870,6.578682,6.616455,1.112891e+08
min,90.000000,90.700000,89.470000,90.280000,5.704900e+06,0.000000,1.000000,14.189776,14.561974,14.166335,14.258197,4.590369e+07
25%,108.042500,108.942500,106.972500,108.007500,2.120714e+07,0.000000,1.000000,22.170235,22.433992,21.948836,22.201030,1.133450e+08
50%,121.585000,122.504950,120.640000,121.755000,3.248325e+07,0.000000,1.000000,25.781510,26.055842,25.511496,25.789823,1.681963e+08
75%,156.905000,157.809625,155.744975,156.515000,4.673778e+07,0.000000,1.000000,29.329099,29.541994,29.133958,29.362853,2.394642e+08
max,649.900000,651.260000,644.470000,647.350000,1.895606e+08,3.290000,7.000000,42.125703,42.628488,42.065561,42.440845,1.065523e+09

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1090 entries, 0 to 1089
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Open        1090 non-null   float64
 1   High        1090 non-null   float64
 2   Low         1090 non-null   float64
 3   Close       1090 non-null   float64
 4   Volume      1090 non-null   float64
 5   Dividend    1090 non-null   float64
 6   Split       1090 non-null   float64
 7   Adj_Open    1090 non-null   float64
 8   Adj_High    1090 non-null   float64
 9   Adj_Low     1090 non-null   float64
 10  Adj_Close   1090 non-null   float64
 11  Adj_Volume  1090 non-null   float64
dtypes: float64(12)
memory usage: 102.3 KB

In [23]:
data.isnull().sum()

Open          0
High          0
Low           0
Close         0
Volume        0
Dividend      0
Split         0
Adj_Open      0
Adj_High      0
Adj_Low       0
Adj_Close     0
Adj_Volume    0
dtype: int64

In [37]:
data2=data[['Open','High','Low','Close','Volume','Dividend','Adj_Open','Adj_High','Adj_Low','Adj_Close','Adj_Volume']]

In [38]:
data2

,Open,High,Low,Close,Volume,Dividend,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
0,171.00,171.850,170.480,171.080,16480187.0,0.0,41.136972,41.341454,41.011877,41.156217,65920748.0
1,170.10,170.780,169.710,170.600,21498213.0,0.0,40.920461,41.084047,40.826640,41.040745,85992852.0
2,170.80,171.470,169.679,170.570,33185536.0,0.0,41.088858,41.250038,40.819183,41.033528,132742144.0
3,174.68,175.424,174.500,175.010,16349444.0,0.0,42.022259,42.201241,41.978957,42.101646,65397776.0
4,174.17,176.020,174.100,175.010,20949896.0,0.0,41.899570,42.344619,41.882730,42.101646,83799584.0
...,...,...,...,...,...,...,...,...,...,...,...
1085,505.00,507.920,503.480,506.170,12167400.0,0.0,15.996600,16.089095,15.948451,16.033661,340687200.0
1086,498.44,499.380,489.950,498.220,12840200.0,0.0,15.788802,15.818578,15.519869,15.781833,359525600.0
1087,500.25,500.680,493.640,495.270,8441700.0,0.0,15.846136,15.859757,15.636755,15.688388,236367600.0
1088,499.56,502.240,496.280,498.691,12322600.0,0.0,15.824280,15.909173,15.720381,15.796753,345032800.0
1089,493.10,500.600,487.350,488.580,11854600.0,0.0,15.619650,15.857223,15.437510,15.476472,331928800.0

In [39]:
X=data2
y=data['Split']

In [40]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)
print(X_train.shape,X_test.shape, y_train.shape,y_test.shape)

(872, 11) (218, 11) (872,) (218,)

In [41]:
l_reg=LinearRegression()
l_reg.fit(X_train,y_train)
print("Training completed")

Training completed

In [42]:
y_predict=l_reg.predict(X_test)

In [43]:
predictions = l_reg.predict(X_test)

In [46]:
mse = mean_squared_error(y_test, predictions)
rmse = np.sqrt(mse)
print(rmse)

0.40637127688715785